<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle ='New product'}}

<body>
    <h1> New Product </h1>


    <form action="/">
        <input type="submit" value="home" />
    </form>

    <form action="/products">
        <input type="submit" value="All Products" />
    </form>


    <form 
    action="/products/new"
    method="post"
    {{!-- enctype="multipart/form-data" --}}
    
    >

    <p>
            <input accept="image/*" type='file' id="imgInp" />
            <img id="blah" height="100"/>
    </p>

    <p>
        <input type="text" name="product_name" placeholder="product_name">
    </p>

    <p>
        <input type="text" name="product_detail" placeholder="product_detail">
    </p>

    <p>
        <input type="number" name="critical" placeholder="critical">
    </p>

    <p>
        <input type="number" name="min" placeholder="min">
    </p>

    <p>
        <input type="number" name="max" placeholder="max">
    </p>

    <p>
        <input type="text" name="barcode" placeholder="barcode">
    </p>


    <p>
        <button type="submit">Create Product</button>
    </p>
    </form>



    <script>
       

        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
             }          
        }

    </script>


  
    
</body>
</html>