<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle ='Home Page'}}

<body>
    <h1> Stocker </h1>

    <form action="/products">
        <input type="submit" value="All Products" />
    </form>
     <form action="/products/new">
        <input type="submit" value="New Products" />
    </form>
  
    
</body>
</html>