<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle ='product'}}

<body>

    <h1>kimerza</h1>

    <form action="/products">
        <input type="submit" value="All Products" />
    </form>
     <form action="/products/new">
        <input type="submit" value="New Products" />
    </form>
  
    
</body>
</html>