<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle ='product'}}

<body>
    <form action="/">
        <input type="submit" value="home" />
    </form>

    {{#each allProducts}}
    
    <h1>{{this.product_name}}</h1>
    <img src="{{this.product_img}}" alt="product image" width="500" height="600">


    {{/each}}
    
</body>
</html>