<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle ='product'}}

<body>

    <h1>kimerza</h1>
    {{#each allProduct}}
    

    <img src="{{this.product_img}}" alt="Girl in a jacket" width="500" height="600">


    {{/each}}
    
</body>
</html>